# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
chatting-controller/src/test/
chatting-controller/target/
chatting-dao/src/main/resources/
chatting-dao/src/test/
chatting-dao/target/
chatting-service/src/main/resources/
chatting-service/src/test/
chatting-service/target/
out/
